.page__container
  .page__block
    .page__heading
      h1 Our clinics
  .contacts 
    .contacts__wrapper
      .maps-block
        .maps-block__container
          .maps-block__item
            .maps-block__map
              .maps-block__subtitle Opening hours: 09:00 / 21:00 daily
              a.maps-block__field(href="tel:+79951150303")
                span Vidnoe, Sovkhoznaya st., 6
                |+7 995 115-03-03
              a(target="_blank" href="https://yandex.ru/maps/213/moscow/?from=api-maps&ll=37.518650%2C55.760494&mode=routes&origin=jsapi_2_1_79&rtext=~55.760494%2C37.518650&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fdata%3DIgoNGRMWQhW_Cl9C&z=17").ymaps-link-first Проложить маршрут
              a(target="_blank" href="https://taxi.yandex.ru/ru_ru?utm_source=yamaps&utm_medium=api&gfrom=%2C&gto=55.760494%2C37.51865&level&ref=2334695&tariff&referrer=appmetrica_tracking_id%3D241755468559577482%26ym_tracking_id%3D17340799168529689018").ymaps-link-second Вызвать такси
              <div data-ref="%D0%92%D0%B8%D0%B4%D0%BD%D0%BE%D0%B5%2C%20%D1%83%D0%BB.%20%D0%A1%D0%BE%D0%B2%D1%85%D0%BE%D0%B7%D0%BD%D0%B0%D1%8F%20%D0%B4.6" data-proxy-url="https://{app}.redirect.appmetrica.yandex.com/route?start-lat={start-lat}&amp;start-lon={start-lon}&amp;end-lat={end-lat}&amp;end-lon={end-lon}&amp;tariffClass={tariff}&amp;ref={ref}&amp;appmetrica_tracking_id={redirect}&amp;lang={lang}" data-tariff="econom" data-app="3" data-lang="en" data-redirect="1178268795219780156" data-description="" data-size="s" data-theme="normal" data-title="Вызвать такси" data-use-location="true" data-point-a="" data-point-b="37.672145,55.544514"></div>
              <div data-longitude="37.671642" data-latitude="55.542676" data-marker-longitude="37.671149" data-marker-latitude="55.542871" data-icon-src="img/map-icon.svg" class="js-ymap-contacts" data-center="55.542523, 37.672684" data-placeholder="55.542523, 37.672684" data-zoom="19" data-placeholder-caption="Верба" data-placeholder-balloon="142702, Vidnoe, Sovkhoznaya st., 6"></div>
