.cover-banner-block(js-header-extra-padding js-header-theme-swap)
  .cover-banner-block__img
    img(src='img/coverBanner.jpg')
  .cover-banner-block__title
    h2 Since 2014, Atlas Clinics have been developing a new paradigm for the Russian market of a preventive approach to health care.
    