.usluga-page-doctors-slider-item.main__doctors-item
  .usluga-page-doctors-slider-item-left
    .usluga-page-doctors-slider-item-left-inner
      h3 Doctor Galina Vladimirovna
      .usluga-page-doctors-slider-item-left-badges
        .usluga-page-doctors-slider-item-left-badge
          img(src="/img/badgeIcon1.png")
          h6 Candidate of Sciences
        .usluga-page-doctors-slider-item-left-badge
          img(src="/img/badgeIcon2.png")
          h6 +1000 satisfied patients
      .usluga-page-doctors-slider-item-left-rating
        h5 12 reviews / 5.0
        .stars.rating.rating-2
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none")
            path(d="M10.3029 0.700492L12.698 6.11962L18.8297 6.62319C19.255 6.6583 19.428 7.16556 19.1052 7.43259L14.4542 11.2847L15.8479 17.0152C15.9446 17.4134 15.4932 17.7266 15.1278 17.515L9.85825 14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43167C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.57892 0.323509 10.1366 0.323509 10.3029 0.700492V0.700492Z" fill="#E0E0E0")
            path(d="M9.85825 0.417748V6.31565V14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43166C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.49587 0.511833 9.6771 0.41758 9.85825 0.417748Z" fill="#F5A623")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none")
            path(d="M10.3029 0.700492L12.698 6.11962L18.8297 6.62319C19.255 6.6583 19.428 7.16556 19.1052 7.43259L14.4542 11.2847L15.8479 17.0152C15.9446 17.4134 15.4932 17.7266 15.1278 17.515L9.85825 14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43167C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.57892 0.323509 10.1366 0.323509 10.3029 0.700492V0.700492Z" fill="#E0E0E0")
            path(d="M9.85825 0.417748V6.31565V14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43166C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.49587 0.511833 9.6771 0.41758 9.85825 0.417748Z" fill="#F5A623")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none")
            path(d="M10.3029 0.700492L12.698 6.11962L18.8297 6.62319C19.255 6.6583 19.428 7.16556 19.1052 7.43259L14.4542 11.2847L15.8479 17.0152C15.9446 17.4134 15.4932 17.7266 15.1278 17.515L9.85825 14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43167C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.57892 0.323509 10.1366 0.323509 10.3029 0.700492V0.700492Z" fill="#E0E0E0")
            path(d="M9.85825 0.417748V6.31565V14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43166C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.49587 0.511833 9.6771 0.41758 9.85825 0.417748Z" fill="#F5A623")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none")
            path(d="M10.3029 0.700492L12.698 6.11962L18.8297 6.62319C19.255 6.6583 19.428 7.16556 19.1052 7.43259L14.4542 11.2847L15.8479 17.0152C15.9446 17.4134 15.4932 17.7266 15.1278 17.515L9.85825 14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43167C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.57892 0.323509 10.1366 0.323509 10.3029 0.700492V0.700492Z" fill="#E0E0E0")
            path(d="M9.85825 0.417748V6.31565V14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43166C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.49587 0.511833 9.6771 0.41758 9.85825 0.417748Z" fill="#F5A623")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18" fill="none")
            path(d="M10.3029 0.700492L12.698 6.11962L18.8297 6.62319C19.255 6.6583 19.428 7.16556 19.1052 7.43259L14.4542 11.2847L15.8479 17.0152C15.9446 17.4134 15.4932 17.7266 15.1278 17.515L9.85825 14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43167C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.57892 0.323509 10.1366 0.323509 10.3029 0.700492V0.700492Z" fill="#E0E0E0")
            path(d="M9.85825 0.417748V6.31565V14.477L4.58865 17.515C4.22233 17.7257 3.77192 17.4125 3.86858 17.0152L5.26233 11.2847L0.610355 7.43166C0.28753 7.16464 0.459575 6.65737 0.885821 6.62226L7.01758 6.11869L9.41267 0.700492C9.49587 0.511833 9.6771 0.41758 9.85825 0.417748Z" fill="#F5A623")
    .mob-image-wrapper
      img.mob-image(src="img/programsSlider1.png")
    p.desk-description Galina is a candidate of medical sciences, also does ultrasound diagnostics. The doctor will be able to conduct a professional examination, thanks to her considerable experience in this area and will make your stay with us as comfortable as possible.
    .usluga-page-doctors-slider-item-left-badges
    button.fill-button(js-modal-open data-modal-name="appoint-form" data-more='Доктор Галина') Make an appointment
  .usluga-page-doctors-slider-item-right
    img.desk-image(src="img/programsSlider1.png")
    p.mob-description Galina is a candidate of medical sciences, also does ultrasound diagnostics. The doctor will be able to conduct a professional examination, thanks to her considerable experience in this area and will make your stay with us as comfortable as possible.
    .usluga-page-doctors-slider-item-left-badges
      .usluga-page-doctors-slider-item-left-badge
        .ph6 The doctor accepts:
      .usluga-page-doctors-slider-item-left-badge._grey
        h6 Vidnoe, Sovkhoznaya st., 6
      .usluga-page-doctors-slider-item-left-badge._grey
        h6 Molokovo village, Solnechny proezd, 8
    button.fill-button(js-modal-open data-modal-name="appoint-form" data-more='Доктор Галина') Make an appointment
  button.fill-button.mob-btn(js-modal-open data-modal-name="appoint-form" data-more='Доктор Галина') Make an appointment

