.flower-banner(js-header-extra-padding js-header-theme-swap)
  .flower-banner__inner(js-flower-banner)
    .swiper-wrapper
      .flower-banner-slide.swiper-slide
        .flower-banner-slide__photo
          img(src = 'img/bannerPhoto1.png' alt="")
        .flower-banner-slide__decor
          img(src = 'img/bannerFlowers1.svg' alt="")
        .flower-banner-slide__title
          .h1 300 women become <br class='dsk-br'/>mothers with <br class='dsk-br'/>Verba every year
      .flower-banner-slide.swiper-slide
        .flower-banner-slide__photo
          img(src = 'img/bannerPhoto2.png' alt="")
        .flower-banner-slide__decor
          img(src = 'img/bannerFlowers2.svg' alt="")
        .flower-banner-slide__title
          .h1 We are <br class='dsk-br'/>pregnancy <br class='dsk-br'/>after IVF
      .flower-banner-slide.swiper-slide
        .flower-banner-slide__photo
          img(src = 'img/bannerPhoto3.png' alt="")
        .flower-banner-slide__decor
          img(src = 'img/bannerFlowers3.svg' alt="")
        .flower-banner-slide__title
          .h1 Together with you <br class='dsk-br'/>we will choose a doctor <br class='dsk-br'/>and a maternity hospital
    .swiper-pagination
    .flower-banner__tagline 
      h3
        | Verba secret <br/>
        | always nearby
