.programs-with-desc
  .programs-with-desc__desc
    h1 Comprehensive screening programs
    h4 A pediatric gynecologist deals with diseases of the genitals, mammary glands, and some.
  .programs-with-desc__grid
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Programm
        .program-card__name
          h3 Women's health in 1 hour
        .program-card__image
          img(src='img/programCard1.png')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Programm
        .program-card__name
          h3 Women's health in 1 hour<br/>row
        .program-card__image
          img(src='img/programCard1.png')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Programm
        .program-card__name
          h3 Women's health in 1 hour<br/>row
        .program-card__image
          img(src='img/programCard1.png')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Programm
        .program-card__name
          h3 Women's health in 1 hour<br/>row
        .program-card__image
          img(src='img/programCard1.png')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
  a.fill-button(href="#") All programs
