
.video-banner-slider(js-header-extra-padding js-header-theme-swap)
  .video-banner-slider__inner(js-video-banner)
    .video-banner-slider__tag 
      h5 Истории мам
    .swiper-wrapper
      .video-banner-slider__slide(data-video-banner-href='https://www.youtube.com/watch?v=ewf-8rx9_uQ', data-preview-video='img/waffle.mp4')
        .video-banner-slider__video
          img(src="img/videoPlcHld1.png" alt="")
        .video-banner-slider__desc
          .h1 История Анастасии
          .h3 «Хочу идеальную улыбку, но боюсь, что результат будет отличаться от мечты!» С такими опасениями к нам пришла Ольга.
      .video-banner-slider__slide(data-video-banner-href='https://www.youtube.com/watch?v=ewf-8rx9_uQ', data-preview-video='img/waffle.mp4')
        .video-banner-slider__video
          img(src="img/videoPlcHld2.png" alt="")
        .video-banner-slider__desc
          .h1 История Анастасии
          .h3 «Хочу идеальную улыбку, но боюсь, что результат будет отличаться от мечты!» С такими опасениями к нам пришла Ольга.
      .video-banner-slider__slide(data-video-banner-href='https://www.youtube.com/watch?v=ewf-8rx9_uQ', data-preview-video='img/waffle.mp4')
        .video-banner-slider__video
          img(src="img/videoPlcHld3.png" alt="")
        .video-banner-slider__desc
          .h1 История Анастасии
          .h3 «Хочу идеальную улыбку, но боюсь, что результат будет отличаться от мечты!» С такими опасениями к нам пришла Ольга.

    .swiper-pagination
