footer.footer.footer-contact
  .footer-map-block
    .maps-block
      .maps-block__container
        .maps-block__item
          .maps-block__map
            .maps-block__title Verba secret is always near
            .maps-block__subtitle Opening hours: 09:00 / 21:00 daily
            a.maps-block__field(href="#")
                span Vidnoe
                p Sovkhoznaya st., 6
            .marker-icon 
              <svg width="61" height="61" viewBox="0 0 61 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.625 26.6875C7.625 14.0536 17.8661 3.8125 30.5 3.8125C43.1339 3.8125 53.375 14.0536 53.375 26.6875C53.375 33.0021 50.8164 38.7197 46.6783 42.859C45.5982 43.9397 44.1358 45.1466 42.5541 46.4519C38.0747 50.1487 32.6383 54.6353 32.2156 59.2844C32.1299 60.2276 31.447 61 30.5 61C29.553 61 28.8701 60.2276 28.7844 59.2844C28.3617 54.6353 22.9253 50.1487 18.4459 46.452C16.8642 45.1466 15.4018 43.9397 14.3217 42.859C10.1836 38.7197 7.625 33.0021 7.625 26.6875ZM38.5062 26.6879C38.5062 31.1096 34.9218 34.6941 30.5 34.6941C26.0783 34.6941 22.4938 31.1096 22.4938 26.6879C22.4938 22.2662 26.0783 18.6816 30.5 18.6816C34.9218 18.6816 38.5062 22.2662 38.5062 26.6879Z" fill="#BE48B4"/>
              </svg>
            <div class="js-ymap" data-center="55.542523, 37.672684" data-placeholder="55.542523, 37.672684" data-zoom="19" data-placeholder-caption="Верба" data-placeholder-balloon="142702, г. Видное, ул. Совхозная, д. 6"></div>
  .footer__inner
    a.footer-link-block(href="#")
      h2 sign up<br/>via whatsapp
      img(src="img/whatsappCircle.svg", alt="")
    .footer-link-block(js-modal-open data-modal-name="appoint-form")
      h2 Make an<br/>appointment
      img(src="img/plusCircle.svg", alt="")
  .footer__bottom 
    h4 INN: 5003123803
    a.policy(href='#')
      h4 <b>Политика</b> и <b>соглашение</b> об использовании медицинских данныхh4 <b>Policy</b> and <b>agreement</b> on the use of medical data
    a.credits(href='#')
      h4 Website creation – NetLab
