footer.footer
  .footer-map-block
    .maps-block
      .maps-block__container
        .maps-block__item
          .maps-block__map
            .maps-block__title Verba secret is always near
            .maps-block__subtitle Opening hours: 09:00 / 21:00 daily
            a.maps-block__field(href="#")
                span Vidnoe
                p Sovkhoznaya st., 6
            <div data-longitude="37.671642" data-latitude="55.542676" data-marker-longitude="37.671149" data-marker-latitude="55.542871" data-icon-src="img/map-icon.svg" data-icon-src-mobile="img/map-icon-mobile.svg" data-action="api/customization.json" class="js-ymap" data-placeholder-caption="Верба" data-placeholder-balloon="142702, Vidnoe, Sovkhoznaya st., 6"></div>
  .footer__inner
    a.footer-link-block(href="#")
      h2 Sign up<br/>via whatsapp
      img(src="img/whatsappCircle.svg", alt="")
    .footer-link-block(js-modal-open data-modal-name="appoint-form")
      h2 Make an appointment<br/>
      img(src="img/plusCircle.svg", alt="")
  .footer__bottom 
    h4 INN: 5003123803
    a.policy(href='#')
      h4 <b>Policy</b> and <b>agreement</b> on the use of personal data
    a.credits(href='#')
      h4 Website creation – NetLab
