.body-parts-block
  .body-parts-block__container
    .body-parts-item
      .body-parts-item__name
        h3 Уха
      .body-parts-item__img 
        img(src="img/lorIcon1.svg", alt="")
      .body-parts-item__list
        a(href='#')
          h5 Лечение аденоидов
        a(href='#')
          h5 Ангина кликаем далее описание
        a(href='#')
          h5 Лирингит
        a(href='#')
          h5 Увеличение шейных лимфоузлов
        a(href='#')
          h5 Удаление инородных тех из уха
    .body-parts-item
      .body-parts-item__name
        h3 Горла
      .body-parts-item__img 
        img(src="img/lorIcon2.svg", alt="")
      .body-parts-item__list
        a(href='#')
          h5 Лечение аденоидов
        a(href='#')
          h5 Ангина кликаем далее описание
        a(href='#')
          h5 Лирингит
        a(href='#')
          h5 Увеличение шейных лимфоузлов
        a(href='#')
          h5 Удаление инородных тех из уха
    .body-parts-item
      .body-parts-item__name
        h3 Носа
      .body-parts-item__img 
        img(src="img/lorIcon3.svg", alt="")
      .body-parts-item__list
        a(href='#')
          h5 Лечение аденоидов
        a(href='#')
          h5 Ангина кликаем далее описание
        a(href='#')
          h5 Лирингит
        a(href='#')
          h5 Увеличение шейных лимфоузлов
        a(href='#')
          h5 Удаление инородных тех из уха