.block-bottom.bottom-banner
  .bottom-banner__text
    h3 Sign up for the first one <br class='mob-br'/>appointment with an otolaryngologist and get a discount
  .bottom-banner__img 
    img(src='img/bannerSale.svg')
  button.button_small.fill-button._white(href="#" js-modal-open data-modal-name="appoint-form" data-category-id="8") Make an appointment