.five-cells-gird-gallery
  .five-cells-gird-gallery__item
    img(src="img/aboutPage1.jpg", alt="")
  .five-cells-gird-gallery__item
    img(src="img/aboutPage2.jpg", alt="")
  .five-cells-gird-gallery__item
    img(src="img/aboutPage3.jpg", alt="")
  .five-cells-gird-gallery__item
    img(src="img/aboutPage4.jpg", alt="")
  .five-cells-gird-gallery__item
    img(src="img/aboutPage2.jpg", alt="")