.offer-table
  .offer-table-head
    p.ph4 Услуги вызова врача
    p.ph4 Цена 
  .offer-table-item(js-open-card-modal data-modal-name='cardpack' data-more='Выезд' data-modal-heading='Кардпак')
    .ph5.name Выезд врача в пределах МКАД
    .ph3.price 14500 р.
  .offer-table-item(js-right-menu data-more='Выезд КОВИД')
    .ph5.name Выезд врача КОВИД в пределах МКАД
    .ph3.price 1700 р.
  .offer-table-item(js-right-menu data-more='Выезд до 10 км')
    .ph5.name Выезд врача до 10 км за МКАД
    .ph3.price 990999 р.
  .offer-table-item(js-right-menu data-more='Выезд КОВИД до 10 км')
    .ph5.name Выезд врача КОВИД до 10 км за МКАД
    .ph3.price 1700 р.
  .offer-table-item(js-right-menu data-more='Выезд от 10 км до 20 км')
    .ph5.name Выезд врача от 10 км до 20 км за МКАД
    .ph3.price 14500 р.
  .offer-table-item(js-right-menu data-more='Выезд КОВИД от 10 км до 20')
    .ph5.name Выезд врача КОВИД от 10 км до 20 за МКАД
    .ph3.price 1700 р.