.programs-grid-block
  .programs-grid-block__grid
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Программа
        .program-card__name
          h3 Женское здоровье за 1 час
        .program-card__image
          img(src='img/programImg1.jpg')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Программа
        .program-card__name
          h3 Женское здоровье за 1 час
        .program-card__image
          img(src='img/programImg1.jpg')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Программа
        .program-card__name
          h3 Женское здоровье за 1 час
        .program-card__image
          img(src='img/programImg1.jpg')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
    a.program-card(href='#')
      .program-card__inner
        .program-card__type
          h6 Программа
        .program-card__name
          h3 Женское здоровье за 1 час
        .program-card__image
          img(src='img/programImg1.jpg')
        .program-card__price
          h5._no-sale 40 000
          h4._sale 40 000
  button.orange-button Все программы