h2 Как проходит прием? 
.numbered-steps-slider
  .swiper-wrapper.numbered-steps-slider__inner
    .swiper-slide.numbered-steps-slider__item
      .numbered-steps-slider__img
        img(src="img/aboutPage1.jpg", alt="")
      .numbered-steps-slider__number
        // число подставится скриптом 
      .numbered-steps-slider__desc
        p Врач соберет анамнез у мамы и выслушает жалобы маленького пациента
    .swiper-slide.numbered-steps-slider__item
      .numbered-steps-slider__img
        img(src="img/aboutPage1.jpg", alt="")
      .numbered-steps-slider__number
        // число подставится скриптом 
      .numbered-steps-slider__desc
        p Изучит историю болезни и проведет осмотр
    .swiper-slide.numbered-steps-slider__item
      .numbered-steps-slider__img
        img(src="img/aboutPage1.jpg", alt="")
      .numbered-steps-slider__number
        // число подставится скриптом 
      .numbered-steps-slider__desc
        p При необходимости врач проведет эндоскопию и назначит дополнительное обследование
    .swiper-slide.numbered-steps-slider__item
      .numbered-steps-slider__img
        img(src="img/aboutPage1.jpg", alt="")
      .numbered-steps-slider__number
        // число подставится скриптом 
      .numbered-steps-slider__desc
        p Выдаст заключение и запишет вас на повторный прием для контроля состояния маленького пациента
      