.page__container
  .page__content-wrapper.policy
    h1 Personal data processing policy
    h2 1. General Provisions
    p This personal data processing policy has been drawn up in accordance with the requirements of the Federal Law of 27.07.2006. No. 152-FZ "On Personal Data" and defines the procedure for processing personal data and measures to ensure the security of personal data taken by Verba Clinic LLC (hereinafter referred to as the Operator).
    p 1.1 The Operator sets as its most important goal and condition for the implementation of its activities the observance of the rights and freedoms of man and citizen when processing his personal data, including the protection of the rights to privacy, personal and family secrets.
    p 1.2 This Operator policy regarding the processing of personal data (hereinafter referred to as the Policy) applies to all information that the Operator may receive about visitors to the website <a href='https://verbaclinic.ru/'>https://verbaclinic.ru/</a>.
    h2 2. Basic concepts used in the Policy
    p 2.1 Automated processing of personal data – processing of personal data using computer technology;
    p 2.2 Blocking of personal data – temporary cessation of processing of personal data (except in cases where processing is necessary to clarify personal data);
    p 2.3 Website – a collection of graphic and informational materials, as well as computer programs and databases, ensuring their availability on the Internet at the network address <a href='https://verbaclinic.ru/'>https://verbaclinic.ru/</a>;
    p 2.4 Personal data information system — a set of personal data contained in databases and the information technologies and technical means that ensure their processing;
    p 2.5 Depersonalization of personal data - actions as a result of which it is impossible to determine without the use of additional information the ownership of personal data by a specific User or other subject of personal data;
    p 2.6 Processing of personal data – any action (operation) or set of actions (operations) performed with the use of automation tools or without the use of such tools with personal data, including collection, recording, systematization, accumulation, storage, clarification (updating, modification), extraction, use, transfer (distribution, provision, access), depersonalization, blocking, deletion, destruction of personal data;
    p 2.7 Operator – a state body, municipal body, legal entity or individual, independently or jointly with other persons organizing and (or) carrying out the processing of personal data, as well as determining the purposes of processing personal data, the composition of personal data subject to processing, actions (operations) performed with personal data;
    p 2.8 Personal data – any information relating directly or indirectly to a specific or identifiable User of the website <a href='https://verbaclinic.ru/'>https://verbaclinic.ru/</a>;
    p 2.9 User – any visitor to the website <a href='https://verbaclinic.ru/'>https://verbaclinic.ru/</a>;
    p 2.10 Provision of personal data – actions aimed at disclosing personal data to a specific person or a specific group of persons;
    p 2.11 Dissemination of personal data – any actions aimed at disclosing personal data to an indefinite number of persons (transfer of personal data) or familiarizing an unlimited number of persons with personal data, including the publication of personal data in the media, posting in information and telecommunications networks or providing access to personal data in any other way;
    p 2.12 Cross-border transfer of personal data – transfer of personal data to the territory of a foreign state to a foreign state authority, foreign individual or foreign legal entity;
    p 2.13 Destruction of personal data – any actions as a result of which personal data are destroyed irrevocably with the impossibility of further restoration of the content of personal data in the personal data information system and (or) the destruction of tangible media of personal data.
    h2 3. The Operator may process the following personal data of the User
    p 3.1 Surname, first name, patronymic;
    p 3.2 E-mail address;
    p 3.3 Telephone numbers;