$ms: 369;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;


$baseTextColor: #000;
$baseFont: 'Inter', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';


