meta(charset='UTF-8')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='shortcut icon' href='favicon-32x32.png' type='image/png')
meta(http-equiv='X-UA-Compatible' content='ie=edge')
meta(name='theme-color' content='#111111')
title verba
//- link(rel='stylesheet' href='css/vendor.css')
//-<script src="https://yastatic.net/taxi-widget/ya-taxi-widget.js"></script>
link(rel='stylesheet' href='css/main.css')
<script src="https://api-maps.yandex.ru/v3/?apikey=80d825c5-161d-4e34-93fd-4458214443eb&lang=ru_RU"></script>
script(src="https://www.google.com/recaptcha/api.js?onload=startFunc&render=explicit" async defer)

//- script(src="https://www.google.com/recaptcha/api.js?onload=startFunc&render=explicit" async defer)