.page__container
  .main 
    .reviews-mobile 
      .main__reviews
        .stories-block_reviews(js-stories-img-slider)
          .main__mobile
            - var i = 0;
            while i < 5
              .stories-item.swiper-slide(data-video-src='img/waffle.mp4', data-preview-src='img/reviewPrev1.png')
                .stories-item__play
                  <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.99979 0.631403L18.9156 9.81779C20.2492 10.5875 20.2492 12.5124 18.9156 13.2821L2.99979 22.4685C1.66646 23.2381 0 22.2758 0 20.7363V2.36358C0 0.824085 1.66645 -0.138181 2.99979 0.631403Z" fill="white"/>
                  </svg>
                .stories-item-preview
                  img(src='img/reviews1.png')
                .stories-item-desc
                  h5 Amosova Rose
              - i++
  .page__block
    .page__heading  
      h1 Comprehensive screening programs
  .page__block
    .programs
      .slider-programs
        .slider-programs__wrapper
          a.slider-programs__el( ) 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽
          a.slider-programs__el(href="#") 
            .slider-programs__img 
              <picture (js-lazy)>
                <source media="(min-width:768px)" srcset="../../img/programs-bg-1.jpg">
                <source media="(max-width:768px)" srcset="../../img/programs-bg-mobile.png">
                <img class="catalog-img-primary" src="../../img/programs-bg-1.jpg" alt="Agave image 1">
              </picture>
            .slider-programs__subtitle PROGRAM
            h2.slider-programs__title  
              |Medical examination of a child at the age of
              |1 month
            .slider-programs__prices
              h3.slider-programs__price 
                |12 500 ₽ 
              span 23 040 ₽